.nav_bar{
    padding-top: 50px;
    background-color: $green;
    .top_bar{
        display: flex;
        justify-content: space-between;
        .top_right{
            .btn{
                z-index: 99999;
                background-color: $lightgreen;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: relative;
                .btnopen{
                    position: relative;
                    background-color: transparent;
                    border: none;
                    &.rotate{
                        transform: rotate(360deg);
                        transition: all .5s ease-in-out;
                        .bars{
                            position: absolute;
                            width: 0px;
                            left: -15px;
                            height: 3px;
                            background-color: $green;
                            display: inline-block;
                            transition: all .3s ease-in-out;
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            top: 0px;
                            left: -15px;
                            background-color: $green;
                            width: 30px;
                            height: 3px;
                            transition: all .3s ease-in-out;
                            transform: rotate(45deg);
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            top: 0px;
                            left: -15px;
                            background-color: $green;
                            width: 30px;
                            height: 3px;
                            transition: all .3s ease-in-out;
                            transform: rotate(-45deg);
                           }
                    }
                    .bars{
                        position: absolute;
                        width: 30px;
                        left: -15px;
                        height: 3px;
                        background-color: $green;
                        display: inline-block;
                        transition: all .3s ease-in-out;
                    }
                    &::before{
                    content: "";
                    position: absolute;
                    top: -8px;
                    left: -15px;
                    background-color: $green;
                    width: 30px;
                    height: 3px;
                    transition: all .3s ease-in-out;
                   }
                   &::after{
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: -15px;
                    background-color: $green;
                    width: 30px;
                    height: 3px;
                    transition: all .3s ease-in-out;
                   }
                }
            }
            .pop_up{
                z-index: 22;
                // display: none;
                transition: all .5s ease-in-out;
                box-shadow: -30px 0 40px 0 rgba(0, 0, 0, 0);
                &.show{
                    display: block;
                    transform: translateX(0%);
                }
                position: fixed;
                top: 0;
                right: 0;
                background-color: $extragreen;
                height: 100vh;
                width: 400px;
                transform: translateX(100%);

                .extra_menu{
                    background-color: #1e6273;
                    margin-top: 200px;
                    .extra_menu_li{
                        padding: 5px 20px;   
                        .extra_menu_a{
                            // text-transform: uppercase;
                            // font-size: 15px;
                            // font-weight: 400;
                            // line-height: 26px;
                            // color: #6c6a8a;
                            

                            display: block;
                            height: 60px;
                            padding: 0 20px 0 125px;
                            line-height: 60px;
                            font-family: 'Quicksand';
                            font-size: 22px;
                            font-weight: 500;
                            color: #fff;
                            text-decoration: none;
                            background: #1e6273;
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}

.gulp{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #003948;
    z-index: 11;
    backdrop-filter: blur(2px);
    opacity: 0.8;
    visibility: visible;
    transition: all .5s ease-in-out;

}
.hidden{
    opacity: 0;
    visibility: hidden;
}