*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Nunito', sans-serif;
}
button, a{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}
ul li{
    list-style: none;
}