.services {
    padding: 50px 0;
    background-color: #1e6273;
    .cart {
        position: relative;
        overflow: hidden;
        &:hover {
            .overlay {
                bottom: 100px;
            }
            &::before{
                bottom: 0;
            }
        }
        &::before {
            content: "";
            background-image: linear-gradient(rgba(25, 92, 108, 0), rgba(26, 104, 123, 0.56) 41%, #1b7187);
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: -25%;
            right: 0;
            left: 0;
            transition: all .5s ease;
        }
    }
    .img {
        height: 500px;
        width: 100%;
        img {
            width: 100%;
            min-height: 500px;
            height: 100%;
            object-fit: cover;
        }
        .overlay {
            position: absolute;
            bottom: -120px;
            left: 0;
            right: 0;
            transition: all .5s ease;
            .content {
                padding: 20px;
                .first_info {
                    color: #fff;
                    h2 {
                        padding: 0 0 20px;
                        font-size: 37px;
                        font-weight: bold;
                        line-height: 1.3;
                    }
                    p {
                        max-width: 320px;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 1.5;
                    }
                }
                .second_info {
                    button {
                        height: 60px;
                        padding: 0 40px;
                        line-height: 60px;
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: bold;
                        text-align: center;
                        color: #175464;
                        background: #a6bf42;
                        border-color: transparent;
                    }
                    a {
                        padding-top: 10px;
                        display: block;
                        opacity: 0.8;
                        font-size: 16px;
                        font-weight: bold;
                        color: #fff;
                        text-decoration: none;
                        z-index: 2;
                    }
                }
            }
        }
    }
}

